:root{
  --background-gray:#EEEEEE; /*цвет фона серый в шапке*/
  --background-dark:#000000; /*цвет шрифта*/
  --background-light-red:#FB565A; /*цвет кнопки веб сайт, булиты*/
  --background-light-green:#00CA74; /*цвет  кнопки приложения, ползунка в стоимости*/
  --background-very-light-yellow:#EFC849; /*цвет кнопки презентации*/
  --background-white:#FFFFFF;/*цвет фона в иконках соц сетей*/
  --background-red:#E74246; /*цвет кнопки при наведении*/
  --background-extra-red:#D7373B;/*цвет кнопки при нажатии */
  --background-green:#00BC6C; /*цвет копки при наведении*/
  --background-extra-green:#00AA62;/*цвет кнопки при нажатии*/
  --background-light-yellow:#EFC84A;/*цвет кнопки при покое*/
  --background-yellow:#EAB534;/*цвет кнопки при наведении*/
  --background-yellow:#EAB534;/*цвет кнопки при наведении*/
  --background-extra-yellow:#E5A722;/*цвет кнопки при нажатии*/
  --background-basic-gray:#888888;/*цвет основного фона*/
  --background-extra-gray:#D7DCDE; /*цвет попапа*/
  --background-light-dark: #283136; /*цвет шрифта основного */
  --background-light-light-dark:#444444;
  --background-clip:#666666;
}
.shop{
font-weight: 500;
font-size: 55px;
line-height: 55px;
align-items: center;
color: var(--background-dark);
}
.filter-list{
  list-style: none;
}
.grid,
.features{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-dark);
}
.button{
  background-color:var(--background-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--background-dark);
  padding: 17px 89px 15px 88px;
  border: none;
}

.name-site{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-dark);
}
.name-site p{
  line-height: 18px;
  color: #666666;
}
.price{
  font-weight: 500;
 line-height: 18px;
 text-transform: uppercase;
 color: #FFFFFF;
 background-color: var(--background-light-red);
 padding: 17px 72px 15px 72px ;
}
